html {
  height: 100%
}

h3 {
  padding-left: 2px;
  color: #bd2130;
}

.title {
  background-color: #176BE8
}

body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  padding-bottom: 5em;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #176BE8;
  color: #E9F02B;
  font-family: sans-serif;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 0.4em
}

.footer{
  padding-left: 10px;
  margin: 0px;
}

* {
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.font-solution{
  font-style: italic;
  font-family: Mathjax Tex;
  font-size: 1.2rem;
}

#title-bar {
 -webkit-app-region: drag;
 height: 34px; 
 background-color: grey;
 padding: none;
 margin: 0px; 
}

#title {
 position: fixed;
 top: 0px;
 left: 6px; 
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 margin: 4px;
 right: 6px;
}

.form-coeffs{
    width: 4em !important;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    height: 2em;
    margin-top: 0.5em;

}
.form-quantite{
    width: 6em;
    height:2em;
}

.disabledTab{
    pointer-events: none;
}

.disabledTab{
    pointer-events: none;
}

.equation{
    font-size: 1.2em;
}

fieldset.unite-border {
       border: solid 1px #DDD !important;
       padding: 0 10px 10px 10px;
       border-bottom: 5px;
       margin-bottom: 5px;
}

legend.unite-border {
       width: auto !important;
       border: none;
       font-size: 14px;
}

.alert{
  margin-top: 1rem;
}

input[type=radio]{
  margin: 0rem 1rem;
}

input[type=text], input[type=password]{
  margin: 0rem 1rem;
}

.btn {
  margin: 10px 5px;
}

.red{
  color : red;
}
    
.zomm{
  transform-origin: 0% 0%;
}

.img{
    width: 100%;
}

#pb_img{
  transition: transform 1s linear;
}

.info{
  padding-top: 1rem;
  padding-left: 0px
}

.lclose{
  left: 0;
  color: red;
  font-size: 1.2rem;
  padding: 0; 
}